<!DOCTYPE html>
<html lang="en"
xmlns:th="http://ww.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="navbar">
    <a href="/dashboard" class="navbar-brand">Home<span>Hive</span></a>
    <ul class="navbar-nav">
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/wishlist">❤️ Wishlist</a></li>
        <li><a href="/rooms/my-rooms">My Rooms</a></li>
        <li><a href="/appointments/my">My Appointments</a></li>
        <li><a href="/profile">👤 Profile</a></li>
        <li><a href="/rooms/add" class="btn btn-primary">+ Add Room</a></li>
        <li><a href="/logout" class="btn-logout">Logout</a></li>
    </ul>
</nav>
</nav>

</body>
</html>